*{
    box-sizing: border-box;
    margin 0;
    padding 0;
}


html {
    background: #e6e9e9;
   /* background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;*/
}


/*HEADER STYLING*/

.header {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 2.8vw;
    font-weight: 100;
    width: 100%;
    padding: 0px;
    margin: 0;
    background-color: #E5B7DF;
    background-image: linear-gradient(45deg, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
    display: block;
}

#logo{
    max-width: 2.5vw;
    display: inline;
}

.navbar a{
    color:#f0f8ff;
}
.navbar a:hover{
    color: #FFF;

    text-shadow: 0 0 15px #FFF;
}

.navbar {
   /* margin: auto;*/
    color: #f0f8ff;
    max-width: 800px;
    width: 30%;
    display: inline;
    align-content: center;
    margin:auto;
    
  /* position: relative;*/
}

ul{
    list-style: circle
    display: inline;
    margin-left: 0px;
}

li {
    list-style-type:none;
    margin: 20px auto;
    display: inline-block;
    padding 0px 0px;
}


.login-info {
    position: relative;
    text-align: center;
    width:20%;
    font-size: 50%;
    display: inline-block;
    color:#f0f8ff;
    max-width: 20%;
    margin: auto;
}
.login-info:hover{
    color: #FFF;
    font-weight: 100;
    text-shadow: 0 0 10px #FFF
}

.username {
    margin: 0px;
    max-height: 20%;
    display: inline-block;
    font-weight:800;
}

login-info, navbar{
    display: inline;
    margin: 0;
    padding 0;
}

.header-content {
    width: 70vw;
    max-width: 800px;
    padding: 0;
    margin: auto;
}



/*SEARCH BAR STYLING*/

.search-authors-select{
    
    font-family: Raleway, serif;
    
    -webkit-appearance: button;
    
    background-color: #e6e9e9; 
    background-image:  -webkit-linear-gradient(top, #E5E5E5, #F4F4F4); /* For Chrome and Safari */
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #FF;
    border-radius: 2px;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
.search-header {
    font-family: Raleway, serif;
    text-transform: uppercase;
    font-size: 250%;
    font-weight:100;
    padding: 0;
    max-width:160px;
    margin:auto;
    
}

#search-by-author {
    font-family: Raleway, serif;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5%;
    max-width:300px;
}

#search-by-author-title {
    margin-bottom: 2%;
    display:inline;
}

.search-placeholder {
    display:inline-block;
    font-family: Raleway, serif;
    font-weight: 100;
    font-size: 120%;
    float:right;
    margin-top:2%;
}


/*NEWS STYLING*/


h1 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 100;
    text-align: center;
    padding: 2%;
}
h2 {
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 300;
    text-align: center;
    padding: 2%;
    max-width: 88%;
    margin: auto;
}
h2 a{
    color: #000;
    text-decoration:none;
}
h2 a:hover{
    color:#DEDDE5;
    transition: .1s ease;
}


.news img{
    max-width:100%;
    height: auto;
    transition: 0.5s ease;

}
.imagecontainer {
    transition: 0.5s ease;
    max-width:88%;
    height: auto;
    max-height: 20%;
    margin: 0 auto;
}
.imagecontainer img:hover{
    /*opacity: 0.8;*/
    box-shadow: 0 0.8em 1.5em #AEAAAA;
    transition: 0.5s ease;
}



.submitter{
    display: inline;
    font-family: "Raleway", serif;
    font-size: 30%;
    font-weight: 200;
    float: left;
}
.username2{
    display:inline;
    font-weight: 500;
}

.news-underbox {
    max-width: 88%;
    margin: 0 auto;
    margin-bottom: 0em;
}

.news-preview {
    max-width:100%;
    margin: auto;
    font-family: "Raleway", serif;
    font-size: 40%;
    font-weight: 300;
    text-transform: none;
}
.more{
    display: inline;
    font-family: "Raleway", serif;
    font-size: 30%;
    font-weight: 500;
    max-width: 150px;
    float: right;
    color:#000;
}

.more:hover{
    color:#DEDDE5;
}

.news-bottomline {
    min-height: 20px;
}



body {
    margin: 0;
    padding 0;
}

.errorsection {
    background-image: linear-gradient(45deg, #fad0c4 0%, #fad0c4 1%, #ffd1ff 100%);
    
}

.logodiv {
    max-width: 35px;
    max-height:40px;
    display: inline-block;
    margin-top: 0;
    margin-right: 0;
    margin-left: 10px;
    padding-bottom: -50px;
}

.news-editbox {
    margin: auto;
    min-height: 20px;
    margin-bottom: 0;
    display: block;
}

.news-edit a{
    display: inline;
    font-family: "Raleway", serif;
    font-size: 30%;
    font-weight: 500;
    max-width: 200px;
    float: left;
    color: #000;
    text-decoration: none;
}

.news-edit a:hover{
    color: #DEDDE5;
}

.news-delete a {
    display: inline;
    font-family: "Raleway", serif;
    font-size: 30%;
    font-weight: 500;
    max-width: 200px;
    float: right;
    color: #000;
    text-decoration: none;
}

.news-delete a:hover{
    color: #DEDDE5;
}

.news {
    margin-bottom: 0.3em;
}

.content-container {
   background-color: #FFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    max-width: 680px;
    margin: -27px auto;
    padding: 0px;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 250%;
    font-weight: 100;
}

.search-pannel {
    transition: .1s ease;
    max-width: 680px;
    margin: auto;
    display: none;
}

.news-dateposted {
    min-height: 20px;
}

.news-dateposted-static {
    display: inline;
    font-family: "Raleway", serif;
    font-weight: 200;
    float: left;
}

.news-dateposted-date {
    display:inline;
    font-weight: 500;
    font-family: "Raleway", serif;
}

.news-dateposted-floater {
    display: inline;
    font-family: "Raleway", serif;
    font-size: 30%;
    font-weight: 200;
    float: left;
}



/*FOOTER STYLING*/

.footer{
    padding-top:50px;
    margin: auto;
    max-width: 680px;
    text-align: center;
    font-family: Raleway, serif;
    color: #696969;
    text-decoration:none;
    font-size: 60%;
    margin-bottom:1%;
}

.footer a {
    font-family: Raleway, serif;
    color: #696969;
    text-decoration:none;
   
    /*font-size:60%;*/
    
}
.footer a:hover{
    color:#DEDDE5;
}


